<div class="navgrid">
    <div class="pagebuttons">
        <img src="../images/logo.jpg" , class="logo">
        <% if(current == "browse") {%>
            <a class="selected">Browse</a>
        <%} else {%>
            <a class="active" href='/observations'>Browse</a>
        <%}%>
        <% if(kind == "Client") {%> 
            <% if(current == "post") {%>
                <a class="selected">Post</a>
            <%} else {%>
                <a class="active" href='/observations/new'>Post</a>
            <%}%>
            <% if(current == "support") {%>
                <a class="selected">Support</a>
            <%} else {%>
                <a class="active" href="/newmessage">Support</a>
            <%}%>
        <%} else if (kind == "Support") {%>
            <% if(current == "requests") {%> 
                <a class = "selected">Requests</a>
            <% } else { %> 
                <a class = "active" href="/support">Requests</a>
            <%}%>
            <% if(current == "chat") {%>
                <a class="selected">Chat</a>
            <%} else {%>
                <a class="active" href="/message/Username">Chat</a>
            <%}%>
        <%}%>
    </div>
    <div class="userdetails">
        <h3 id="username"><%=username%></h3>
        <a class="active" href="/user/<%=username%>">My account</a>
        <a class="active" href="/logout">Sign out</a>
    </div>
</div>