<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="icon" type="image/x-icon" href="../images/logo.jpg">
        <title>JWST Online</title>
    </head>
    <body class="grid">
        <img src="../images/logo.jpg" , class="logo">
        <div class="login">
            <form id="loginform" action="/login/parse" method="post" autocomplete="off">
                <h2>Log-in</h2>
                <p class="message"><%=message%></p>
                <label for="username">Username</label>
                <input  id="username" name="username" required 
                        placeholder="Username">
                <br>
                <label for="password">Password</label>
                <input  id="password" name="password" required 
                        placeholder="Password" type="password">
            </form>
            <br>
            <div class="submitbuttons">
                <form id="loginformbuttons" method="post">
                    <button type="submit" form="loginform">Sign in</button>
                    <button formaction="/register">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>
