<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Please wait...</title>
</head>
<body class="postgrid">
    <form class="newpost" method="post">
        <h1>Please wait...</h1>
        <h3>A support member will be with you shortly!</h3>
        <input type="hidden" value="<%=username%>">
        <input type="hidden" value="<%=place%>">
        <button formaction="/cancelsupport">Cancel</button>
    </form>
</body>
</html>