<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>JWST Online</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <% requests.forEach(function(request, i){ %>
        <% if (request != "") { %>
            <form id="request<%i%>" method="post" action="/newmessage" onsubmit="formSubmit(request, i)">
                <input type="hidden" id="place" name="place" value="<%=i%>">
                <input type="hidden" id="requestname" name="requestname" value="<%=request%>">
                <h3><%=request%></h3>
                <button>Message</button>
            </form>
        <%}%>
    <%})%>
    <script src="/socket.io/socket.io.js"></script>
</body>
<script>
    const socket = io('localhost:3000');
    const username = document.getElementById('username').innerHTML;

    formSubmit = (request, place) => {
        // let form = document.getElementById(`request${place}`)
    }

</script>
</html>